
<div class="jumbotron">
    <h2>About us</h2>
    <hr />

    <p>The Running Diary app is used to keep a log of your running training sessions. It is intended for the trainer and people who train.
     It allows you to store data about the trained runners and allows you to add and plan your training. 
    Each added training can be additionally extended with specific exercises, depending on the type of training.</p>
    <br />
    <p>Feel free to try it out in the section Running Diary App</p>
</div>