@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="jumbotron">
    <h2>Contact</h2>

    <p class="contact-info"><i class="fas fa-solid fa-phone">tel.: +48 666 585 782</i></p>
    <p class="contact-info"><i class="fas fa-regular fa-at">email: potkajprzemyslaw@gmail.com</i></p>
</div>