@model ExerciseViewModel

@{
    ViewData["Title"] = "Exercise Page";
}

<form asp-controller="Exercise" asp-action="Add">
    Name: <input type="text" name="Name" /> <br />
    Distance: <input type="number" name="Distance" /> <br />
    <button type="submit" class="btn btn-success">Add</button>
</form>


